@import url(/fonts/ClashDisplay/css/clash-display.css);
@import url(/fonts/Inter/css/inter.css);

.CodeMirror {
  height: 640px !important;
  padding: 8px !important;
  border: 1px dashed #ffffff !important;
  text-align: left !important;
}

.cm-s-material.CodeMirror,
.CodeMirror-linenumbers,
.CodeMirror-linenumber {
  background-color: rgba(255, 255, 255, 0.02) !important;
  font-size: 12px !important;
}

a {
  -webkit-text-decoration-color: white !important;
  text-decoration-color: white !important;
}

@property --radius {
  syntax: '<length>';
  inherits: true;
  initial-value: 0;
}

@property --border {
  syntax: '<length>';
  inherits: true;
  initial-value: 0;
}
